@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{ 
    scroll-behavior: smooth;
}

/* GLobal Classes */
.heading{
    text-align: center;
    font-size: 45px;
    padding: 20px;
    margin: 15px;
    color: #3d535f;
}
.heading span{
    color: #7f00ff;
}
/********************* NAVBAR SECTION *********************/
.banner-container{
    width: 100%;
    min-height: 100vh;
    background-color: #f3f5f8;
    
    /* border: 3px solid red; */
}
.banner-container nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    position: fixed;
    z-index: 111;
    background: #f1f1f1;
    /* border: 1px solid red; */
}
.banner-container nav .logo{
    display: flex;
    font-size: 30px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    position: relative;
    /* text-transform: uppercase; */
}
.banner-container nav .logo span{
    color: #7f00ff;
}
.banner-container nav .nav-items{
    display: flex;
}
.banner-container nav .nav-items li{
    list-style: none;
    margin: 0 15px;
}
.banner-container nav .nav-items li a{
    text-decoration: none;
    color: #3d535f;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 5px 10px;
    /* border: 1px solid red; */
    
}
.banner-container nav .nav-items li:hover a{
    color: #fff;
    background-color: #7f00ff;
    border-radius: 10px;
}
.banner-container nav .links{
    display: flex;
    
    
}
.banner-container nav .links h4{
    font-size: 20px;
    color: #7f00ff;
}
.banner-container nav .links a{
    font-size: 25px;
    color: #3d535f;
    margin: 0px 13px;
    padding: 2px 10px;
    
    /* border: 1px solid red; */
    /* background: #7f00ff; */
    text-decoration: none;
}
.banner-container nav .links a:hover,
.banner-container nav .links h4:hover{
    color: #7f00ff;
    /* background: #7f00ff; */
}

.checkbtn{
    font-size: 30px;
    display:none;
    color:black;
    margin-right:40px;
    cursor:pointer;
    
}
#check{
    display:none;
}

@media screen and (max-width: 1200px){
.banner-container nav .links a{
    display:none
}


}
@media screen and (max-width: 900px){
    .banner-container nav .nav-items {
        background: #9456d3;
        flex-direction: column;
        position:fixed;
        width:100%;
        height:100vh;
        left:-100%;
        top:80px;
        text-align: center;
        transition: .3s ease-in;
                
    }
    .checkbtn{
        display:block;
    }
    nav{
        background:black;
    }
    .banner-container nav .nav-items li a{
        color:white;
    }
    .links{
        display:flex;
        flex-direction: column;
    }
    .banner-container nav .links a{
        display:block;
    }
    .social{
        display:flex;
        justify-content: center;
    }
    .banner-container nav .links a:hover,
.banner-container nav .links h4:hover{
    color: white;
    /* background: #7f00ff; */
}
.banner-container nav .links h4{
color:white;
}


}
.projects{
    background: #f3f5f8;
    padding: 150px;
}
.projects .project span img{
    height: 600px;
    width: 600px;
    border-radius: 10%;
    box-shadow: 0 0 20px 9px rgba(163, 20, 211, 0.813);
}
.projects .project h2{
    padding: 50px;
    color: #7f00ff;

}
.projects .project p{
    color: #3d535f;
    height: 80px;
}
.projects .project h3{
    color: #3d535f;

}




footer{
    display: grid;
    justify-content: end;
    align-content: end;
    min-height: 10vh;
    margin-bottom: 0px;
}
.footer{
    position: relative;
    /* top: -100px; */
    width: 100%;
    bottom: 0px;
    height: auto;
    padding: 50px 100px;
    background-color: #4f039c;
}
.footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.footer .container h3{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.footer .container h3::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #da38ec;
}
.footer .about p{
    color: #fff;
}
.footer .icons{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-gap: 10px;
    list-style: none;
}
.footer .icons li a{
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #7f00ff;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}
.footer .icons li a:hover{
    background: #803fd6;
}
.footer .quicklinks{
    position: relative;
}
.footer .quicklinks li{
    list-style: none;
}
.footer .quicklinks li a{
    color: #f7f7f7;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.footer .quicklinks li a:hover{
    color: #da38ec;
    padding-left: 15px;
}
.footer .footercontact{
    position: relative;
}
.footer .footercontact li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
.footer .footercontact li span:nth-child(1){
    color: #fff;
    font-size: 20px;
}
.footer .footercontact span{
    color: #fff;
}
.footer .footercontact a{
    color: #f7f7f7;
    text-decoration: none;
}
.footer .footercontact a:hover{
    color: #da38ec;
    padding-left: 15px;
}
.copyright{
    position: relative;
    /* top: -100px; */
    width: 100%;
    text-align: center;
    background: #330264;
    padding: 8px 100px;
    color: #fff;
}
@media(max-width:991px){
    .footer{
        padding: 40px;
    }
    
    .footer .container{
        grid-template-columns: repeat(2,1fr);
    }
    .copyright{
        padding: 8px 40px;
    }
}
@media(max-width:600px){
    .footer{
        padding: 40px;
    }
    
    .footer .container{
        grid-template-columns: repeat(1,1fr);
    }
    .copyright{
        padding: 8px 40px;
    }
}
